.nav-bar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-bottom: 1px solid #dbdbdb;

    p {
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            opacity: 0.8;
            transform: scale(1.05);
            color: #0095f6;
        }
    }

    .button {
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 1rem;
        font-weight: bold;
    }


}