main {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-container {
	height: fit-content;
	min-width: 400px;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	form {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		input,
		button {
			border: none;
			outline: none;
			padding-inline: 1.5rem;
			padding-block: 1rem;
			border-radius: 1rem;
		}

		button {
			background-color: rgb(204, 28, 28);
			color: whitesmoke;
			cursor: pointer;
		}
	}

	.toggleAuthForm {
		color: rgb(204, 28, 28);
		font-size: 0.9rem;
		cursor: pointer;
		text-decoration: none;
	}
}
