.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;

  .form-container {
    padding: 2rem;
    background-color: #121212;
    border-radius: 8px;
    min-width: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);

    h1 {
      text-align: center;
      margin-bottom: 1.5rem;
      color: #fff;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .form-group {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        label {
          color: #fff;
        }

        input {
          padding: 0.5rem;
          border-radius: 4px;
          border: 1px solid #ccc;
          font-size: 1rem;
          background-color: #121212;
          color: #fff;

          &:focus {
            outline: none;
            border-color: #e10b56;
            transition: all 0.3s ease;
          }
        }
      }
    }
  }
}
